.outer-box{
  background-color: #E9E6E9;
  height: 1050px;
  width: 1200px;
  margin: auto;
  padding-top: 35px;
}

.container{
  background-color: yellow;
  margin: auto;
  width: 1000px;
  height: 1000px;
  border-style: groove;
  border-width: thin;
  padding: 1px;
}

.red-box{
  background-color: red;
  width: 1000px;
  height: 100px;
}

.blue-box{
  background-color: blue;
  width: 760px;
  height: 830px;
  margin: 0 auto;
}

.green-box{
  background-color: green;
  width: 760px;
  height: 70px;
  margin: 0 auto;
}
